
<div class="row">
  <div class="col-md-12 col-lg-8 col-xl-4 bg-white mx-auto">
    <div class="login-wrap p-4 p-md-5">
      <div class="d-flex align-items-center justify-content-center m-3">
      </div>
      <h1>New Project</h1>

      <%= render 'form', project: @project %>
      <hr>
      <%= link_to 'Back', projects_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

